.App {
  text-align: center;
  background-color:  #282c34;
  color:  #282c34;;
  font-family: 'Arial', sans-serif;
  padding: 20px;

}

select, button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 20px;
  cursor: pointer;
}

